@import "bourbon"

$default-font: "roboto", sans-serif
$accent: #8158a0 // Акцентный цвет

// Настройки SF-MENU
$liColor: #222 // Цвет текста в меню, обычном состоянии
$liColor_hover: #fff // Цвет текста в меню, при наведении и активности

$liBgColor: inherit // Цвет заливки кнопки меню, в обычном состоянии
$liBgColor_hover: $accent // Цвет заливки кнопки меню, при наведении
$liBgColor_active: $accent // Цвет заливки кнопки меню, при активности

$ulBgColor: #eee // Цвет заливки подменю и мега меню


// Настройки SWIPER
$bulletBgColor: inherit // Цвет заливки Буллетов, в обычном состоянии
$bulletBgColor_active: $accent // Цвет заливки Буллетов, в активном состоянии
$bulletBorderColor: $liColor_hover // Цвет заливки Буллетов, в обычном состоянии